[Unit]
Description=Robot Startup Automation
After=network.target

[Service]
ExecStart=/home/cavalla/Unicarrier_MXST18C-2_system/start_robot.py
User=root
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
